<!DOCTYPE html>
<html>
<head>
    <title>客户列表</title>
        <#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <#if shiro.hasPermission("customer:customer:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
            </#if>
            <#if shiro.hasPermission("customer:customer:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
            </#if>
<!--            <#if shiro.hasPermission("customer:customer:delete")>-->
<!--            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>-->
<!--            </#if>-->
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

<div v-show="!showList" class="panel panel-default">
    <div class="panel-heading">{{title}}</div>
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-2 control-label">客户名称</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="customer.name"
                       placeholder="客户名称"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">Domain</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="customer.domain"
                       placeholder="Domain"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">带宽</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="customer.bandwidth"
                       placeholder="带宽"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">DDOS带宽</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="customer.ddosBandwidth"
                       placeholder="DDOS带宽"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">节点</div>
            <div class="col-sm-10">
                <select id="sel_cluster" style="width: 100%" multiple="multiple" class="form-control">
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">状态</div>
            <label class="radio-inline">
                <input type="radio" name="status" value="0" v-model="customer.status"/> 禁用
            </label>
            <label class="radio-inline">
                <input type="radio" name="status" value="1" v-model="customer.status"/> 正常
            </label>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label"></div>
            <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..."
                   @click="saveOrUpdate" value="确定"/>
            &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
        </div>
    </form>
</div>
</div>

<script src="${request.contextPath}/statics/js/modules/customer/customer.js?_${.now?long}"></script>
</body>
</html>