<!DOCTYPE html>
<html>
<head>
    <title>账户列表</title>
        <#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <#if shiro.hasPermission("customer:peradmin:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
            </#if>
            <#if shiro.hasPermission("customer:peradmin:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
            </#if>
            <#if shiro.hasPermission("customer:peradmin:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
            </#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

<div v-show="!showList" class="panel panel-default">
    <div class="panel-heading">{{title}}</div>
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-2 control-label">用户名</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="perAdmin.username"
                       placeholder="用户名"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">密码</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="perAdmin.password"
                       placeholder="密码"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">手机</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="perAdmin.mobile"
                       placeholder="手机"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">Skype</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="perAdmin.skype"
                       placeholder="Skype"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">email</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="perAdmin.email"
                       placeholder="email"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">语言</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="perAdmin.language"
                       placeholder="语言"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">创建时间</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="perAdmin.createdTime"
                       placeholder="创建时间"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">更新时间</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="perAdmin.updatedTime"
                       placeholder="更新时间"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">最近登录</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="perAdmin.lastLogin"
                       placeholder="最近登录"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">关联客户</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="perAdmin.customerId"
                       placeholder="关联客户"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">状态</div>
            <label class="radio-inline">
                <input type="radio" name="status" value="0" v-model="perAdmin.status"/> 禁用
            </label>
            <label class="radio-inline">
                <input type="radio" name="status" value="1" v-model="perAdmin.status"/> 正常
            </label>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label"></div>
            <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..."
                   @click="saveOrUpdate" value="确定"/>
            &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
        </div>
    </form>
</div>
</div>

<script src="${request.contextPath}/statics/js/modules/customer/peradmin.js?_${.now?long}"></script>
</body>
</html>